{{>layouts/header}}

<style>
    /* 링크에 대한 스타일 정의 */
    .no-underline {
        text-decoration: none; /* 밑줄 제거 */
        color: black; /* 폰트 색상을 검정으로 */
    }
</style>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}} <!-- 여기 변수가 데이터 묶음일 경우 반복문 처럼 작동  -->
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}" class="no-underline">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table>

<a href="/articles/new" class="btn btn-dark">New Article</a>

{{>layouts/footer}}
